.exploreTab {
    max-width: 250px;
    background-color: white;
    border: 1px solid gray;
}

.exploreTab__header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}