.feedCard {
    background-color: white;
    max-width: 400px;
    margin-bottom: 15px;
    border: 1px dashed blue;
    transition: 0.3s;
}

.feedCard:hover {
    cursor: pointer;
    box-shadow: 4px 4px 5px 1px lightgray;
}

.feedCard__top {
    display: flex;
    padding: 10px;
}

.MuiAvatar-root {
    height: 40px !important;
    width: 40px !important;
}

.feedCard__username {
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
    position: relative;
    top: 4px;
}

.feedCard__post {
    width: 100%;
    display: flex;
    justify-content: center;
}

.feedCard__post > img {
    width: 90%;
    height: 250px;
    object-fit: contain;
}

.feedCard__likeComment {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.feedCard__likeCaption {
    padding: 5px 10px;
}

.feedCard__likeCaption > span {
    font-weight: bold;
}

.feedCard__caption {
    /* font-weight: 200; */
}

.feedCard__comments {
    padding: 5px 10px;
}

.feedCard__addComment {
    padding: 10px;
    border-top:1px dashed blue;
    display: flex;
    justify-content: space-between;
}

.feedCard__addComment > input {
    flex: 1;
    border: none;
    font-size: 15px;
}