.feeds {
    display: flex;
    max-width: 2000px;
    margin: auto;
}


.feeds__sidebar {
    width: fit-content;
}

.feeds__rightContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.feeds__right__bottombar {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;

}

.feeds__allfeeds {
    flex: 2;
}

.feeds__explore {
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

@media only screen and (max-width: 500px) {

    .feeds {
        flex-direction: column;
    }
    
    .feeds__right__bottombar {
        flex-direction: column;
    }

}

@media only screen and (max-width: 750px) {
    .feeds__explore {
        display: none;
    }
}