.video__videoGrid__myVideo {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    border-radius: 15px;
}

.video__videoGrid__friendsVideo {
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: black;
    border: 1px dashed white;
    border-radius: 10px
}

.video__videoGrid__endCallBtn {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100vw;
    position: fixed;
    bottom: 0px;
}

.videocall__userBox {
    margin: 20px;
}

@media only screen and (max-width: 500px) {

    
    .video__videoGrid__friendsVideo {
        width: 130px;
        height: 130px;
    }
    

    

}
